/* 
 * ScreenShare: Cast to TV - Minimal Google Cast CSS
 */

/* Background */
.background {
  background: linear-gradient(135deg, #0a1929 0%, #1a365d 100%) !important;
  background-color: #0a1929 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

/* Logo */
.logo {
    background-image: url('https://appinventoinfo.github.io/TVCasting/Icon.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 240px !important;
  height: 240px !important;
  margin: 0 auto !important;
}

/* Progress Bar */
.progressBar {
  background-color: rgb(238, 255, 65) !important;
  height: 4px !important;
  border-radius: 2px !important;
}

/* Splash Screen */
.splash {
  background-image: url('https://appinventoinfo.github.io/TVCasting/Icon.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100% !important;
  height: 100% !important;
}

/* Watermark */
.watermark {
  background-image: url('https://appinventoinfo.github.io/TVCasting/watermark.png') !important;
  background-size: 57px 57px !important;
  background-repeat: no-repeat !important;
  background-position: bottom right !important;
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
  width: 57px !important;
  height: 57px !important;
  opacity: 0.8 !important;
}
